@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    font-family: "open sans";
    scroll-behavior: smooth;
}

:root {
    --backGcolor: #011826;
    --textcolor: #fff;
    --maincolor: #ff9a16;
    --secondcolor: #e7174a;
    --backGcolorP: #2cc1aa;
    --fontRa: "Ralaway" "sans-serif";
}

.bgc {
    background-color: var(--backGcolor) !important;
}

.bcgF {
    background-color: var(--backGcolorP) !important;
}

.container1440 {
    max-width: 1440px;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--maincolor);
    font-weight: 400;
    font-size: 16px;

    &:hover{
        color: var(--secondcolor);
    }
}

.current-page{
    color: var(--secondcolor) !important;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

#bg_menu {
    display: none;
}

h1, h2 {
    font-family: var(--fontRa);
    font-size: 36px;
    color: var(--textcolor);
    font-weight: 700;
}

h3 {
    font-family: var(--fontRa);
    font-size: 21px;
    color: var(--textcolor);
    font-weight: 700;
}

p{
  font-size: 16px;
  color: var(--textcolor);
  font-weight: 400;
}

.btn_1 {
    padding: 5px 10px;
    border: 1px solid var(--maincolor);
    background-color: var(--maincolor);
    color: var(--textcolor);

    &:hover {
        border-color: var(--secondcolor);
        background-color: var(--secondcolor);
        color: var(--textcolor);
    }
}

.btn_2 {
    padding: 10px 20px;
    border: 1px solid var(--textcolor);
    background-color: var(--backGcolor);
    color: var(--textcolor);

    &:hover {
        border-color: var(--textcolor);
        background-color: var(--secondcolor);
        color: var(--textcolor);
    }
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 60px;
}

header img {
    width: 180px;
    height: 36.89px;
}

header nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
}

/* footer */

footer {
    display: flex;
    margin: auto;
    align-items: center;
    padding: 15px 15px;
}

/* main */
/* section 1 */

.section_1 {
    display: grid;
    grid-template-columns: 50% 50%;
    padding:0 15px 50px;
}

.section_1 #presentation {
    max-width: 70%;
    padding: 26px 0;    
}

.section_1 #presentation h1{
    padding-bottom: 28px;
    letter-spacing: 1px;
}


.section_1 img{
    width: 100%;
}

.section_1 #presentation p{
    padding-bottom: 30px;
    line-height: 24.51px;
}

.section_1 #presentation a {
    padding: 10px 20px;   
}

/* section 2 */

#section_2 {
    max-width: 1140px;
    padding-bottom: 50px;
    display: grid;
    margin: auto;
}

#section_2 h2 {
    text-align: center;
    padding-bottom: 30px;
}

#section_2 #art1 {
    display: grid;
    grid-template-columns: 70% auto;
    align-items: center;
    padding-bottom: 100px;
    position: relative;
}

#section_2 h3 {
    padding-bottom: 35px;
}

#section_2 p {
    padding-bottom: 20px;
}

#section_2 #art2 {
    display: grid;
    grid-template-columns: auto 70%;
    align-items: center;
    position: relative;
}

#section_2 img {
    width: 100%;
    height: 798px;
}

#section_2 #bcgO1 {
    background-color: var(--maincolor);
    padding: 40px;
    height: fit-content;
    position: absolute;
    max-width: 328px;
    right: 0px;
}

#section_2 #bcgO2 {
    background-color: var(--maincolor);
    padding: 40px;
    height: fit-content;
    position: absolute;
    max-width: 328px;    
}

#section_2 #art2 img {
    grid-column: 2/3;
}

#section_2 .btn_2 {
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: -16px;
    right: 155px;
}

/* section 3 */

#competence {    
    padding-bottom: 20px;    
}

#competence h2 {
    text-align: center;
    margin-bottom: 20px;
}

ul#comp_list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

ul#comp_list > li {
    flex: 1 1 45%;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

ul#comp_list > li > ul {
    list-style-type: circle;
    padding-left: 20px;
    margin-top: 15px;
}

ul#comp_list > li > ul > li {
    margin-bottom: 10px;
}

ul#comp_list > li > label {
    font-weight: 600;
    cursor: pointer;
    color: var(--maincolor);
    border-bottom: 2px solid var(--secondcolor);
    padding-bottom: 7px;
}

ul#comp_list > li > input[type="checkbox"] {
    display: none;
    
}

ul#comp_list > li > input[type="checkbox"]:checked + ul {
    display: block;
}

ul#comp_list > li > ul {
    display: none;
}

ul#sub_framework > li > ul  {
    margin-bottom: 10px;
    list-style-type: disc;
}

/* section projet */

#section_projet {
    margin: auto;
}

#section_projet div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px 100px;
    
}

#section_projet article .bord {
    display: grid;
    gap: 20px;
    padding: 15px;
    border: 1px solid;
    border-image: linear-gradient(to bottom, #e7174a, #ff9a16) 1;
    border-top: transparent;
    border-bottom: transparent;
    

    &:hover img{
        transform: scale(1.07);
    }
}

#section_projet #flx {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    gap: 80px;   
}

#section_projet img {
    width: 100%;
    height: 180px;
    padding-bottom: 10px; 
    position: relative;
   
}

#section_projet h3, p {
    padding-bottom: 10px;
}

#section_projet .sepa {
    padding: 15px;
}